<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>List of all books</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<h1>List of books</h1>
<div class="row col-md-7 table-responsive">
  <table id="bookTable" class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}">1</td>
      <td th:text="${book.title}">title</td>
      <td th:text="${book.author}">author</td>
      <td th:text="${book.genre}">genre</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>