<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="ru.otus.homework.quiz.dao.QuizDaoCsv" id="quizDao">
    <constructor-arg name="defaultQuizCsv" value="quiz.csv"/>
  </bean>

  <bean class="ru.otus.homework.quiz.service.QuizServiceImpl" id="personService">
    <constructor-arg name="quizDao" ref="quizDao"/>
  </bean>

</beans>
