<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>List of all books</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/jquery-tabledit/jquery.tabledit.min.js"></script>
  <script src="/webjars/popper.js/umd/popper.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>

<body>
<h1>List of books</h1>
<div class="row col-md-7 table-responsive">
  <table id="bookTable" class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="table_content">

    </tbody>
  </table>
  <a href="/book/edit" class="btn btn-primary btn-lg active" role="button"
     aria-pressed="true">New</a>
</div>
</body>
</html>