<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>List of all books</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/popper.js/umd/popper.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>

<body>
<h1>List of books</h1>
<div class="row col-md-7 table-responsive bookTable">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="tableContent">

    </tbody>
  </table>
  <a href="#" class="btn btn-primary btn-lg active new-book" role="button"
     aria-pressed="true">New</a>
</div>

<form id="editForm" style="display: none;">
  <div class="form-group">
    <input id="id" name="id" type="hidden" class="form-control">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="form-control" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <select name="authorId" id="author">
    </select>
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <select name="genreId" id="genre">
    </select>
  </div>
  <button type="submit" class="btn btn-primary save-book">Save</button>
</form>

</body>
</html>